<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p> Estos son tus chats. ¡Manda mensajes a </br />
            tu amigo invisible o al destinatario de tu maravilloso regalo!
            </p>
            <br />
            <%if (participant.visible && participant.visible !== "") {%>
                <p>Disfruta hablando con tu amigo invisible bajo el anonimato <span class="glyphicon glyphicon-sunglasses"></span></p>
            <%} else {%>
                <form method="post" action="/chat?_method=put">
		            <div class="form-group">
					    <label class="control-label col-sm-2" for="friend">Introducir amigo invisible aquí:</label>
					    <div class="col-sm-10">
					      	<input class="form-control" required type="text" name="friend" id="friend"/>
					    </div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
					    	<button class="mybtn btn btn-info" type="submit">Registrar</button>
					    </div>
				    </div>
				</form>
            <%}%>
            <div class="row">
                <div class="col-md-6">
                    <p><u> Chatea con quien quiere putearte </u> </p> <br />
                    <div id="scroll" class="scroll" style="height: 400px; padding: 30px; overflow: auto; background-color: #F2F2F2; border: 3px solid #E6E6E6; word-wrap: break-word ">
                            <%for (var f in participant.invisibleMessages) {%>
                            	<%if (participant.invisibleMessages[f].origin === true) {%>
                            		<p style=" color: green; text-align: right;"><%=participant.invisibleMessages[f].text%></p>
                            	<%} else {%>
                            		<p style=" color: black; text-align: left;"><%=participant.invisibleMessages[f].text%></p>
                            	<%}%>
                            <%}%>
	                </div>                               	
                    <div class="form-group">
                            <form method="post" action="/chat/actionInvisible?_method=put">
                                <%if (participant.invisible && participant.invisible !== "") {%>
                                    <input type="text" class="form-control" required placeholder="Escribe un mensaje" id="chat" name="chat"><br/>
                                    <button type="submit" class="btn btn-default"> Send </button>
                                <%} else {%>
                                    <input type="text" class="form-control" disabled required placeholder="Escribe un mensaje" id="chat" name="chat"><br/>
                                <%}%>
                            </form>
                    </div>                                   
                </div>
                <div class="col-md-6">
                    <%if(amigo){%>
                        <p><u> Putea tranquilo a <%=amigo.name%> </u> </p> <br />
                    <%} else {%>
                        <p><u> Putea tranquilo </u> </p> <br />
                    <%}%>
                    <div id="scroll" class="scroll" style="height: 400px; padding: 30px; overflow: auto; background-color: #F2F2F2; border: 3px solid #E6E6E6; word-wrap: break-word">
                    		<%for (var f in participant.visibleMessages) {%>
                            	<%if (participant.visibleMessages[f].origin === true) {%>
                            		<p style=" color: green; text-align: right;"><%=participant.visibleMessages[f].text%></p>
                            	<%} else {%>
                            		<p style=" color: black; text-align: left;"><%=participant.visibleMessages[f].text%></p>
                            	<%}%>
                            <%}%>
                    </div>
                    <div class="form-group">
                            <form method="post" action="/chat/actionVisible?_method=put">
                            <%if (participant.visible && participant.visible !== "") {%>
								<input type="text" class="form-control" required placeholder="Escribe un mensaje" id="chat" name="chat"><br/>
                                <button type="submit" class="btn btn-default"> Send </button>
                            <%} else {%>
                            	<input type="text" class="form-control" disabled required placeholder="Escribe un mensaje" id="chat" name="chat"><br/>
                            <%}%>
                            </form>
                    </div>                           
                </div>
            </div>
            <%if(errors.message){%>
			  	<div class="alert alert-danger" role="alert">Error: <%=errors.message%></div>
			<%}%>
        </div><!-- .col-md-12 close -->
    </div><!-- row close -->
</div><!-- .container close -->