<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p> Estos son tus chats. ¡Manda mensajes a </br />
            tu amigo invisible o al destinatario de tu maravilloso regalo!
            </p>
            <br />
            <%if (participant.visible) {%>
                <p>Disfruta hablando con tu amigo invisible bajo el anonimato <span class="glyphicon glyphicon-sunglasses"></span></p>
            <%} else {%>
                <p>Una vez realizado el sorteo podrás hablar con tu amigo invisible desde el anonimato, ¿a qué esperáis para realizar el sorteo y empezar a jugar?</p>
            <%}%>
            <div class="row">
                <div class="col-md-6">
                    <p><u> Chatea con quien quiere putearte </u> </p> <br />
                    <div id="scroll" class="scroll" style="height: 400px; padding: 30px; overflow: auto; background-color: #F2F2F2; border: 3px solid #E6E6E6; word-wrap: break-word ">
                            <%for (var f in participant.invisibleMessages) {%>
                            	<%if (participant.invisibleMessages[f].origin === true) {%>
                            		<p style=" color: green; text-align: right;"><%=participant.invisibleMessages[f].text%></p>
                            	<%} else {%>
                            		<p style=" color: black; text-align: left;"><%=participant.invisibleMessages[f].text%></p>
                            	<%}%>
                            <%}%>
	                </div>                               	
                    <div class="form-group">
                            <form method="post" action="/chat/actionInvisible?_method=put">
                                <%if (participant.invisible && participant.invisible !== "") {%>
                                    <div class="input-group">
                                      <input type="text" class="form-control" required placeholder="Escribe un mensaje" id="chat" name="chat"><br/>
                                      <span class="input-group-addon" style="padding:0"><button class="btn btn-info btn-sm" type="submit">Send</button></span>
                                    </div>
                                <%} else {%>
                                    <div class="input-group">
                                      <input type="text" disabled class="form-control" required placeholder="Escribe un mensaje" id="chat" name="chat"><br/>
                                      <span class="input-group-addon" style="padding:0"><button disabled class="btn btn-info btn-sm" type="submit">Send</button></span>
                                    </div>
                                <%}%>
                            </form>
                    </div>                                   
                </div>
                <div class="col-md-6">
                    <%if(participant.visible){%>
                        <p><u> Putea tranquilo a <%=amigo.name%> </u> </p> <br />
                    <%} else {%>
                        <p><u> Putea tranquilo </u> </p> <br />
                    <%}%>
                    <div id="scroll" class="scroll" style="height: 400px; padding: 30px; overflow: auto; background-color: #F2F2F2; border: 3px solid #E6E6E6; word-wrap: break-word">
                    		<%for (var f in participant.visibleMessages) {%>
                            	<%if (participant.visibleMessages[f].origin === true) {%>
                            		<p style=" color: green; text-align: right;"><%=participant.visibleMessages[f].text%></p>
                            	<%} else {%>
                            		<p style=" color: black; text-align: left;"><%=participant.visibleMessages[f].text%></p>
                            	<%}%>
                            <%}%>
                    </div>
                    <div class="form-group">
                            <form method="post" action="/chat/actionVisible?_method=put">
                            <%if (participant.visible && participant.visible !== "") {%>
                                <div class="input-group">
                                  <input type="text" class="form-control" required placeholder="Escribe un mensaje" id="chat" name="chat"><br/>
                                  <span class="input-group-addon" style="padding:0"><button class="btn btn-info btn-sm" type="submit">Send</button></span>
                                </div>
                            <%} else {%>
                            	<div class="input-group">
                                  <input type="text" disabled class="form-control" required placeholder="Escribe un mensaje" id="chat" name="chat"><br/>
                                  <span class="input-group-addon" style="padding:0"><button disabled class="btn btn-info btn-sm" type="submit">Send</button></span>
                                </div>
                            <%}%>
                            </form>
                    </div>                           
                </div>
            </div>
            <%if(errors.message){%>
			  	<div class="alert alert-danger" role="alert">Error: <%=errors.message%></div>
			<%}%>
        </div><!-- .col-md-12 close -->
    </div><!-- row close -->
</div><!-- .container close -->

<script>
      $(document).ready(function() {
        setTimeout(function(){
          window.location.reload(1);
        }, 60000);
      });
</script>